<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <img class="nav-heroboy" src="../Images/Superboy.png" 
            a class="navbar-brand" href="https://leagueofavengers.herokuapp.com">    LEAGUE OF AVENGERS
            <img class="nav-herogirl" src="../Images/Supergirl.png">    
            </a>        
        </div>
      </div>
    </nav>
    <br>
    <sub-navbar-nav id="sub-navbar" class="sub-navbar sub-navbar default">
        <div class="container-fluid">
            <ul>
                <li><a href="https://leagueofavengers.herokuapp.com/about">ABOUT</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/mcu">MARVEL CINEMATIC UNIVERSE</a></li>
                <li><a href="#dceu">DC EXTD CINEMATIC UNIVERSE</a></li>
                <li><a href="#visualizations">VISUALIZATIONS</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/maps">MAPS</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/api">API</a></li>
                <li style="float:right"><a class="active" href="https://leagueofavengers.herokuapp.com">HOME</a></li>
            </ul>
        </div>
    </sub-navbar-nav> 

  </body>
    <div>

<br>
  <div>
   </div>      
    </div>
      <div class="h-100 p-5 text-white bg-dark container-fluid">
        <h5 class="display-2 text-white text-center">TEAM AVENGERS</h5>
    
        <br>
        </div>



<br>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 35rem;">
        <div class="card-header bg-primary">
          <h3>A. LINDA PENNY</h3></div>
        <img class="card-img-top" src="../Images/AnaLindaP.jpg">
        <div class="card-body">
          <a class="nav-link text-center" href="https://www.linkedin.com/in/linda-penny" target="_blank">LinkedIn</a>
          <a class="nav-link text-center" href="https://github.com/in/AnaLindaPenny" target="_blank">GitHub</a>
          </div>
      </div>
      </div>

      <div class="col-lg-4">
      <div class="card border-primary text-center col-mb-4 bg-primary" style="max-width: 35rem;">
        <div class="card-header">
          <h3>TRUMANE LEE</h3></div>
        <img class="card-img-top" src="../Images/TrumaneL.jpg">
        <div class="card-body">
        <a class="nav-link text-center" href="https://www.linkedin.com/in/trumane-lee/" target="_blank">LinkedIn</a>
        <a class="nav-link text-center" href="https://github.com/Trumane12311" target="_blank">GitHub</a>
        </div>
      </div>
      </div>

      <div class="col-lg-4">
      <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 35rem;">
        <div class="card-header">
          <h3>SYDNEY CAVALLARO</h3></div>
        <img class="card-img-top" src="../Images/SydneyC.jpg">
        <div class="card-body">
          <a class="nav-link text-center" href="https://www.linkedin.com/in/sydneycavallaro/" target="_blank">LinkedIn</a>
          <a class="nav-link text-center" href="https://github.com/syd-cavs" target="_blank">GitHub</a>
          </div>
        </div> 
        </div>


  <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
          <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 35rem;">
            <div class="card-header bg-primary">
              <h3>MORGAINE BOWERS</h3></div>
            <img class="card-img-top" src="../Images/MorgaineB.jpg">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/morgaine-bowers-bb635974/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/MorgaineB/" target="_blank">GitHub</a>
              </div>
          </div>
          </div>

          <div class="col-lg-4">
          <div class="card border-primary text-center text-white col-mb-4 bg-primary" style="max-width: 35rem;">
            <div class="card-header bg-primary">
              <h3>DEREK TORO</h3></div>
            <img class="card-img-top" src="../Images/DerekT.jpg">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/derek-toro-880b13107/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/1der4k" target="_blank">GitHub</a>
              </div>
          </div>
          </div>

          <div class="col-lg-4">
          <div class="card border-primary text-center bg-primary col-mb-4" style="max-width: 35rem;">
            <div class="card-header">
              <h3>KELSEY VERMEER</h3></div>
            <img class="card-img-top" src="Images/kelseyv.png">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/kelsey-vermeer-a61670101/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/kelseyv4" target="_blank">GitHub</a>
              </div>
            </div> 
            </div>
        </div>
      </div>   
    </div>
  <br> 


<br>
  <div class="col-md-12">
      <div class="card bg-primary text-white">
          <div class="card-body">
              <h2 style="font-size:205%; font-weight: bold;">Brief Project Summary</h2>
              <hr class="lighthr">
              <h4 style="font-size:170%; font-weight: bold;">Our Inspiration:</h4>
              <a style="font-size:130%; line-height: 1.6;">As a team we choose a topic that was fun and exciting to explore in more detail, while still being informative. 
                We are all MARVEL &/or DC fanatics so we have all thoroughly enjoyed analyzing the various data resources for this project. 
                Our POW-er stricken project had some BANG!-type experiences but overall the challenges that we encountered, have continued to strenghten our capabilities so that we could get to the ENDGAME a.k.a the Heroku Cloud Application Platform deployment.
              </a>              
              <h4 style="font-size:170%; font-weight: bold;">Data Resources Review & Analysis:</h4>
              <a style="font-size:130%; line-height: 1.6;">We reviewed a variety of data content from the MARVEL vs. DC IMDB dataset. 
                The data content was overall quite extensive so we wrote various scripts to web scrape the data.
              </a>
              <h4 style="font-size:170%; font-weight: bold;">Extract, Load & Transform:</h4>
              <a style="font-size:130%; line-height: 1.6;">We collectively developed various scripts to web scrape only the relevant data from the diffent sections of the websites.
              </a>
              <h4 style="font-size:170%; font-weight: bold;">Languages & Libraries Utilized:</h4>
              <a style="font-size:130%; line-height: 1.6;">Jupyter Notebook; Python (Pandas, GeoPandas, Web-Scrapping, BeautifulSoup); Tableau; Machine Learning (Scikit-Learn); MongoDB; JavaScript (D3.js, Plotly.js, Chartist.js); HTML, CSS (Bootstrap); JSON (GeoJSON); Heroku.
              </a>               
              <h4 style="font-size:170%; font-weight: bold;">Website Deployment:</h4>
              <a style="font-size:130%; line-height: 1.6;">We deployed via Heroku Cloud Application Platform.
              </a>           
            </div>
          </div>
      </div>

  </div>

<br>

<br>

<br>  
  <div class="container">
    <div class="column2-md-12">
        <div class="card bg-primary; text-white">
            <div class="card-body">
              <h6 style="font-size:175%; font-weight: bold;">OUR GRATITUDE & APPRECIATION:</h6>
                <ul style="font-size:150%; line-height: 1.6; list-style-type: string;">
                  <p6>Once again, we would like to take a moment to thank our Course Instructor, Michael, our TA's, Melodie and Sam, our Student Success Manager, Lisa, and last but not least, our individual tutors for all of the mentorship, guidance and support that we have received. 
                    We could not have gotten this far and achieved what we've been able to achieve in this program without you all. 
                  </p6>
                <div>
                  <p7>Thank you all so much for everything!</p7>
                </div>
            </ul>
        </div>
    </div>
  </div>
</div>

<br>
  <div class="row">
    <div class="column2">      
      <img src="../Images/Supergirl.png" alt="Supergirl" style="width: 275px"> 

<br>
<footer class="footer">
    <div class="container text-center py-3">
        <h3>GitHub:
            <a href="https://github.com/AnaLindaPenny/final-project.git"> Final Project Link</a>
        </h3>
     <span class="bottom">COPYRIGHT / Trilogy Education Services &copy; 2021. All Rights Reserved / ** For Educational Purposes Only **</span>
</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<!-- <script src="style.css"></script> -->
<script src="index.html"></script>

</body>

</html>
