<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <img class="nav-heroboy" src="/static/Superboy.png" 
            a class="navbar-brand" href="https://leagueofavengers.herokuapp.com">    LEAGUE OF AVENGERS
            <img class="nav-herogirl" src="/static/Supergirl.png">    
            </a>        
        </div>
      </div>
    </nav>
    <br>
    <sub-navbar-nav id="sub-navbar" class="sub-navbar sub-navbar default">
        <div class="container-fluid">
            <ul>
                <li><a href="https://leagueofavengers.herokuapp.com/about">ABOUT</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/mcu">MARVEL CINEMATIC UNIVERSE</a></li>
                <li><a href="#dceu">DC EXTD CINEMATIC UNIVERSE</a></li>
                <li><a href="#visualizations">VISUALIZATIONS</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/maps">MAPS</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/api/imdb">API</a></li>
                <li style="float:right"><a class="active" href="https://leagueofavengers.herokuapp.com">HOME</a></li>
            </ul>
        </div>
    </sub-navbar-nav> 

    <div class="container">
        <br>
        <h1>Marvel Versus DC API</h1>
        <br>
        <h2>Routes</h2>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    IMDb
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Route</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IMDb</td>
              <td>Route will render IMDb information.</td>
              <td><a href="https://leagueofavengers.herokuapp.com/api/imdb" target="_blank">/api/imdb/</a></td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      <br>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collasped" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Box Office
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Route</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Marvel</td>
                    <td>Route will render a table-formatted json of the box office earnings for Marvel movies.</td>
                    <td><a href="https://leagueofavengers.herokuapp.com/api/mcu" target="_blank">/api/mcu</a></td>
                  </tr>
                  <tr>
                    <td>DC</td>
                    <td>Route will render a table-formatted json of the box office earnings for DC movies.</td>
                    <td><a href="https://leagueofavengers.herokuapp.com/api/dceu" target="_blank">/api/dceu</a></td>
                  </tr>
                  <tr>
                    <td>Universes Combined</td>
                    <td>Route will render a table-formatted json of the Marvel and DC box office earnings</td>
                    <td><a href="https://leagueofavengers.herokuapp.com/api/combined" target="_blank">/api/combined</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
    </div>
</body>

<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <p>We hope you had a Marvel-ous time!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

  </div>
  <div class="footer-copyright text-center py-3">Project Github: 
      <a href="https://github.com/AnaLindaPenny/final-project.git"> github.com</a>
  </div>
  </footer>  

</html>