<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bs-danger">
    <div class="container-fluid"> 
      <a class="navbar-brand bs-danger" href="/">
        <div class="logo-image">
              <img src="/static/Images/captain_marvel.png" class="img-fluid">
        </div>
      </a>
      <a class="nav-brand" src="/static/Images/captain_marvel.png"></a>
      <a class="navbar-brand"> League of Avengers
        <a class="navbar-brand" href="/">
          <div class="logo-image">
                <img src="/static/Images/superman.png" class="img-fluid">
          </div>
        </a>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com/methodology">Methodology</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/chartjs">A Broad Perspective</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/maps">International Maps</a>
              <a class="dropdown-item active" href="https://leagueofavengers.herokuapp.com/machinelearning">Box Office Predictions</a>
                <span class="visually-hidden">(current)</span>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/mcu">Marvel Sequel-Verse</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/dc">DC Sequel-Verse</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com/team">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com/api">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Box Office Predictions</h1>
        <p class="lead">Below you'll see the results of machine learning for the MCU and the DCEU. </p>
        <hr>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
        <div class="column">
            <h2 class= "blender"> MCU Heatmap </h2>
            <hr>
            <img src="/static/Images/mcu_heat_map.png" class="responsive" alt="MCU Heatmap">
            <br>
            <hr>
        </div>

        <div class="column">
            <h2 class= "blender"> DCEU Heatmap </h2>
            <hr>
            <img src="/static/Images/dceu_heat_map.png" class="responsive" alt="MCU Heatmap">
            <br>
            <hr>
        </div>
    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
          <p class="blender"> The first step was to create a heatmap to emphasize the correlation between all the variables using seaborn. As you can see, the darker the color, the higher the positivie correlation.  The more yellow the color is, the closer it is to negative correlation.</p>
          <p class= "blender"> Some interesting things to notice are how on the Marvel heatmap, the lowest correlation is between any variable and number of weeks in the theater. For the DCEU heatmap, the lowest correlation is between any variable and Harley Quinn or Shazam. </p>
          <p class= "blender"> This image is condensed to emphasize the correlation by color, scroll down to see another seaborn correlation format. </p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="row">
        <div class="column">
            <h2 class= "blender">  MCU Pair Plot </h2>
            <hr>
            <a href="/static/Images/mcu_pairplot.png"><img src="/static/Images/mcu_pairplot.png" class="responsive" alt="DCEU Pairplot"></a>
            <br>
            <hr>
        </div>

        <div class="column">
            <h2 class="blender"> DCEU Pair Plot </h2>
            <hr>
            <a href="/static/Images/dceu_pairplot.png"><img src="/static/Images/dceu_pairplot.png" class="responsive" alt="DCEU Pairplot"></a>
            <br>
            <hr>
        </div>
    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
          <p class= "blender"> This is another generated image from seaborn called a pairplot.  It does the same type of comparison as the heatmap, but instead of giving a color based on correlation, it shows what the graphs would look like for each comparison. The bar chart graphs it created are comparing the same variables.</p>
          <p class= "blender"> This was very helpful in planning which graphs to create to do machine learning on.  </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
        <div class="column">
            <h2 class= "blender">  MCU Sample Predictions </h2>
            <hr>
            <img src="/static/Images/mcu_sample_predictions.png" class="responsive" alt="DCEU Pairplot">
            <br>
           <hr>
        </div>

        <div class="column">
            <h2 class="blender"> DCEU Sample Predictions </h2>
            <hr>
            <img src="/static/Images/dceu_sample_predictions.png" class="responsive" alt="DCEU Pairplot">
            <br>
           <hr>
        </div>
    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
          <p class= "blender"> The first machine learning visualization we created takes a sample of the movie data and calculates its worldwide gross based on it's budget.  </p>
          <p class= "blender"> Looking at the Marvel graph specifically, because there are more movies in the MCU more appeared in the sample.  The samples were chosen based off of 80% of the data going into the training environment and 20% going into the testing environment.  Red represents the projected worldwide gross and blue represents the actual worldwide gross.  In this graph you can see that out of all of the samples, only Iron Man 3's projected gross surpassed the actual.  </p>
          <p class= "blender"> Looking at the DC graph specifically, the sample is much smaller.  Black represents actual worldwide gross and purple represents predicted worldwide gross.  In this graph, Wonder Woman's predicted surpassed the actual gross.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
        <div class="column">
            <h2 class= "blender">  MCU Gross Predictions </h2>
            <hr>
            <img src="/static/Images/mcu_gross_predictions.png" class="responsive" alt="DCEU Pairplot">
            <br>
          <hr>
        </div>

        <div class="column">
            <h2 class="blender"> DCEU Gross Predictions </h2>
            <hr>
            <img src="/static/Images/dceu_gross_predictions.png" class="responsive" alt="DCEU Pairplot">
            <br>
           <hr>
        </div>

    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
          <p class= "blender"> The second machine learning visualizations we created predict domestic gross based off of international gross and worldwide gross.</p>
          <p class= "blender"> Based on the Marvel data, our predictor predicts lower than the actual gross for the most part.  Based on this data, Marvel will continue to grow in their total gross domestically, internatonally, and worldwide. </p>
          <p class= "blender"> Based on the DC data, our predictor was unable to determine an accurate projection for future growth.  More data is needed in order to be able to make an accurate prediction. </p>
      </div>
    </div>
  </div>
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>

</html>