<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <img class="nav-heroboy" src="/static/Images/Superboy.png" 
            a class="navbar-brand" href="https://leagueofavengers.herokuapp.com">    LEAGUE OF AVENGERS
            <img class="nav-herogirl" src="/static/Images/Supergirl.png">    
            </a>        
        </div>
      </div>
    </nav>
    <br>
    <sub-navbar-nav id="sub-navbar" class="sub-navbar sub-navbar default">
        <div class="container-fluid">
            <ul>
                <li><a href="https://leagueofavengers.herokuapp.com/about">ABOUT</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/mcu">MARVEL CINEMATIC UNIVERSE</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/machine/marvel">MARVEL MACHINE</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/api/dceu">DC EXTD CINEMATIC UNIVERSE</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/machine/dc">DC MACHINE</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/chartsjs">COMPARISON</a></li> 
                <li><a href="https://leagueofavengers.herokuapp.com/maps">GLOBAL</a></li>
                <li><a href="https://leagueofavengers.herokuapp.com/api">API</a></li>
                <li style="float:right"><a class="active" href="https://leagueofavengers.herokuapp.com">HOME</a></li>
            </ul>
        </div>
    </sub-navbar-nav> 
  <br></br>

    <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">MCU Machine Learning</h1>
        <p class="lead">Below you'll see the results of machine learning for the Marvel Cinematic Universe. </p>
        <hr>
    </div>
  </div>

  <br></br>

  <div class="container">
    <div class="row">
        <div class="column" id= 'Description'>
            <h2> MCU Heatmap </h2>
            <hr>
            <p> The first step was to create a heatmap to emphasize the correlation between all the variables using seaborn. </p>
            <p> As you can see, the darker the color, the higher the positivie correlation.  The more yellow the color is, the closer it is to negative correlation. </p>
            <p> This image is condensed to emphasize the correlation by color, scroll down to see another seaborn correlation format. </p>
        </div>

        <div class="column" id="image">
            <h2 class="blender"> Image </h2>
            <hr>
            <img src="../static/Images/mcu_heat_map.png" class="img-responsive" alt="MCU Heatmap">
            
            <hr>
        </div>
    </div>
  </div>

  <br> </br>

  <div class="container">
    <div class="row">
        <div class="column" id= 'Description'>
            <h2>  MCU Pair Plot </h2>
            <hr>
            <p> This is another generated image from seaborn called a pairplot.  It does the same type of comparison as the heatmap, but instead of giving a color based on correlation, it shows what the graphs would look like for each comparison. </p>
            <p> The bar chart graphs it created are comparing the same variables.   </p>
            <p> This was very helpful in planning which graphs to create to do machine learning on.  </p>
        </div>

        <div class="column" id="image">
            <h2 class="blender"> Image </h2>
            <hr>
            <img src="../static/Images/mcu_pairplot.png" class="img-responsive" alt="MCU Pairplot">
            
            <hr>
        </div>
    </div>
  </div>




 
 <footer class="footer">
      <div class="container text-center py-3">
          <h3>GitHub:
              <a href="https://github.com/AnaLindaPenny/final-project.git"> Final Project Link</a>
          </h3>
        <span class="bottom">COPYRIGHT / Trilogy Education Services &copy; 2021. All Rights Reserved / ** For Educational Purposes Only **</span>
      </div>
  </footer>
  <br></br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>

</html>