<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bs-danger">
        <div class="container-fluid"> 
          <a class="navbar-brand bs-danger">
            <div class="logo-image">
                  <img src="/static/Images/captain_marvel.png" class="img-fluid">
            </div>
          <a class="nav-brand" src="/static/Images/superman.png"></a>
          <a class="navbar-brand"> League of Avengers
            <a class="navbar-brand">
              <div class="logo-image">
                    <img src="/static/Images/superman.png" class="img-fluid">
              </div>
    </a>
    </a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="https://leagueofavengers.herokuapp.com">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://leagueofavengers.herokuapp.com/methodology">Methodology</a>
                <span class="visually-hidden">(current)</span>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/chartjs">A Broad Perspective</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/maps">International Maps</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/machinelearning">Box Office Predictions</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/mcu">Marvel Sequel-Verse</a>
              <a class="dropdown-item" href="https://leagueofavengers.herokuapp.com/ddc">DC Sequel-Verse</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com/team">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://leagueofavengers.herokuapp.com/api">API</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<br>
    <div class="container col-lg-12">
    <div class="card bg-secondary text-black">
        <div class="card-body">
            <h1>Project Summary</h1>
            <hr class="lighthr">
            <br>
            <h2 style="font-size:170%; font-weight: bold;">Our Inspiration:</h2>
            <a style="font-size:130%; line-height: 1.6;">
                <p>As a team we choose a topic that was fun and exciting to explore in more detail, while still being informative. 
              We are all MARVEL &/or DC fanatics so we have all thoroughly enjoyed analyzing the various data resources for this project. 
              Our POW-er stricken project had some BANG!-type experiences but overall the challenges that we encountered, have continued to strenghten our capabilities so that we could get to the ENDGAME a.k.a the Heroku Cloud Application Platform deployment.</p>
            </a> 
            <br>
            <h4 style="font-size:170%; font-weight: bold;">Data Resources Review & Analysis:</h4>
            <a style="font-size:130%; line-height: 1.6;">
                <p>We reviewed a variety of data content from the MARVEL vs. DC IMDB dataset. 
              The data content was overall quite extensive so we wrote various scripts to web scrape the data.</p>
            </a>
            <br>
            <h4 style="font-size:170%; font-weight: bold;">Extract, Load & Transform:</h4>
            <a style="font-size:130%; line-height: 1.6;">
                <p>We collectively developed various scripts to web scrape only the relevant data from the diffent sections of the websites.</p>
            </a>
            <br>
            <h3>Languages & Libraries Utilized:</h3>
            <a style="font-size:130%; line-height: 1.6;">
                <p>Jupyter Notebook; Python (Pandas, GeoPandas, Web-Scrapping, BeautifulSoup); Tableau; Machine Learning (Scikit-Learn); MongoDB; JavaScript (D3.js, Plotly.js, Chartist.js); HTML, CSS (Bootstrap); JSON (GeoJSON); Heroku.</p>
            </a> 
            <br>              
            <h4 style="font-size:170%; font-weight: bold;">Website Deployment:</h4>
            <a style="font-size:130%; line-height: 1.6;">
                <p>We deployed via Heroku Cloud Application Platform.</p>
            </a>
            <br>           
          </div>
        </div>
    </div>
    </body>

</html>