<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>League of Avengers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bs-danger">
    <div class="container-fluid"> 
      <a class="navbar-brand bs-danger">
        <div class="logo-image">
              <img src="/static/Images/captain_marvel.png" class="img-fluid">
        </div>
      <a class="nav-brand" src="/static/Images/superman.png"></a>
      <a class="navbar-brand"> League of Avengers
        <a class="navbar-brand">
          <div class="logo-image">
                <img src="/static/Images/superman.png" class="img-fluid">
          </div>
    </a>
    </a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Methodology</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="chartjs.html">A Broad Perspective</a>
              <a class="dropdown-item" href="maps.html">International Maps</a>
              <a class="dropdown-item" href="machinelearning.html">Box Office Predictions</a>
              <a class="dropdown-item" href="mcu.html">Marvel Sequel-Verse</a>
              <a class="dropdown-item" href="dc.html">DC Sequel-Verse</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="API.html">API</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
    <div>

<br>
  <div>
   </div>      
    </div>
      <div class="h-100 p-5 text-white bg-dark container-fluid">
        <h5 class="display-2 text-white text-center">TEAM AVENGERS</h5>
    
        <br>
        </div>



<br>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <div class="card border-primary text-center bs-secondary col-mb-4" style="max-width: 35rem;">
        <div class="card-header bs-secondary">
          <h3>A. LINDA PENNY</h3></div>
        <img class="card-img-top" src="/static/Images/AnaLindaP.jpg">
        <div class="card-body">
          <a class="nav-link text-center" href="https://www.linkedin.com/in/linda-penny" target="_blank">LinkedIn</a>
          <a class="nav-link text-center" href="https://github.com/in/AnaLindaPenny" target="_blank">GitHub</a>
          </div>
      </div>
      </div>

      <div class="col-lg-4">
      <div class="card border-primary text-center col-mb-4 bs-secondary" style="max-width: 35rem;">
        <div class="card-header bs-secondary">
          <h3>TRUMANE LEE</h3></div>
        <img class="card-img-top" src="/static/Images/TrumaneL.jpg">
        <div class="card-body">
        <a class="nav-link text-center" href="https://www.linkedin.com/in/trumane-lee/" target="_blank">LinkedIn</a>
        <a class="nav-link text-center" href="https://github.com/Trumane12311" target="_blank">GitHub</a>
        </div>
      </div>
      </div>

      <div class="col-lg-4">
      <div class="card border-primary text-center bg-secondary col-mb-4" style="max-width: 35rem;">
        <div class="card-header bs-secondary">
          <h3>SYDNEY CAVALLARO</h3></div>
        <img class="card-img-top" src="/static/Images/SydneyC.jpg">
        <div class="card-body">
          <a class="nav-link text-center" href="https://www.linkedin.com/in/sydneycavallaro/" target="_blank">LinkedIn</a>
          <a class="nav-link text-center" href="https://github.com/syd-cavs" target="_blank">GitHub</a>
          </div>
        </div> 
        </div>


  <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
          <div class="card border-primary text-center bs-secondary col-mb-4" style="max-width: 35rem;">
            <div class="card-header bg-secondary">
              <h3>MORGAINE BOWERS</h3></div>
            <img class="card-img-top" src="/static/Images/MorgaineB.jpg">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/morgaine-bowers-bb635974/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/MorgaineB/" target="_blank">GitHub</a>
              </div>
          </div>
          </div>

          <div class="col-lg-4">
          <div class="card border-primary text-center text-white col-mb-4 bg-secondary" style="max-width: 35rem;">
            <div class="card-header bg-secondary">
              <h3>DEREK TORO</h3></div>
            <img class="card-img-top" src="/static/Images/DerekT.jpg">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/derek-toro-880b13107/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/1der4k" target="_blank">GitHub</a>
              </div>
          </div>
          </div>

          <div class="col-lg-4">
          <div class="card border-primary text-center bg-secondary col-mb-4" style="max-width: 35rem;">
            <div class="card-header bs-secondary">
              <h3>KELSEY VERMEER</h3></div>
            <img class="card-img-top" src="/static/Images/kelseyv.png">
            <div class="card-body">
              <a class="nav-link text-center" href="https://www.linkedin.com/in/kelsey-vermeer-a61670101/" target="_blank">LinkedIn</a>
              <a class="nav-link text-center" href="https://github.com/kelseyv4" target="_blank">GitHub</a>
              </div>
            </div> 
            </div>
        </div>
      </div>   
    </div>
  <br>

<br>  
  <div class="container">
    <div class="column2-md-12">
        <div class="card bg-primary; text-white">
            <div class="card-body">
              <h6 style="font-size:175%; font-weight: bold;">OUR GRATITUDE & APPRECIATION:</h6>
                <ul style="font-size:150%; line-height: 1.6; list-style-type: string;">
                  <p class="text-black">Once again, we would like to take a moment to thank our Course Instructor, Michael, our TA's, Melodie and Sam, our Student Success Manager, Lisa, and last but not least, our individual tutors for all of the mentorship, guidance and support that we have received. 
                    We could not have gotten this far and achieved what we've been able to achieve in this program without you all. 
                  </p>
                <div>
                  <p>Thank you all so much for everything!</p>
                </div>
            </ul>
        </div>
    </div>
  </div>
</div>
</body>
<footer class="footer">
    <div class="container text-center py-3">
        <h3 class="text-white">GitHub:
            <a class="text-white" href="https://github.com/AnaLindaPenny/final-project.git"> Final Project Link</a>
        </h3>
      </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<!-- <script src="style.css"></script> -->
<script src="index.html"></script>


</html>
